<!DOCTYPE html>
<!--it inform browser that the document type is HTML    -->
<html>
<!-- wraps all content -->

<head>
    <meta cherset="utf-8" />
    <!--sets the character set. Usally set to 'utf-8' which includes most characters  -->
    <title>TicTacToe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet" />
    <!--Adding css file related to this web pages  -->
</head>

<body>
    <!--Main Navigation-->
    <header>
        <style>
            #intro {
                background-image: url("TicTacToe/static/images/logo.png");
                height: 100vh;
            }

            /* Height for devices larger than 576px */
            @media (min-width: 992px) {
                #intro {
                    margin-top: -58.59px;
                }
            }

            .navbar .nav-link {
                color: rgb(255, 255, 255) !important;
            }
        </style>
        <!-- Background image -->
        <div id="intro" class="bg-image shadow-2-light">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
                <div class="container d-flex align-items-center justify-content-center text-center h-100">
                    <div class="text-white">
                        <h1 class="mb-3">TicTacToe</h1>
                        <h5 class="mb-4">Automated using RL </h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- Background image -->
    </header>
    <!--Main Navigation-->
</body>

</html>